.google-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.google-inner a {
  display: flex;
  border: 1px solid #eee;
  padding: 10px 20px;
  transition: all 0.2s linear;
}

.google-inner a:focus,
.google-inner a:hover {
  border-color: #333;
}

.google-link {
  display: flex;
  justify-content: center;
}

.google-link a {
  display: flex;
  border: 1px solid #eee;
  padding: 5px 20px;
  transition: all 0.2s linear;
}

.google-link a:focus,
.google-link a:hover {
  border-color: #333;
}

.row-new {
  border: 2px solid #0dcaf0 !important; /* Яркая голубая рамка */
  background-color: #f2fcff !important; /* Чуть заметный фон */
  box-shadow: inset 0 0 5px rgba(13, 202, 240, 0.2); /* Легкое свечение внутри */
}
