{% extends 'default/index.html.twig' %}

{% block title %}Auto Generate Text{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="content-page">
        <div class="container">
            <h1 class="tables-title">Сгенерировать текст</h1>

            <button class="generate-btn">Сгенерировать</button>
        <a href="/dashboard/tasks" class="generate-btn">Редактировать данные</a>
            
            <div class="generate-log"></div>

        </div>

    </div>
{% endblock %}

{% block footer_script %}

{% endblock %}